@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?9svg5m');
  src: url('fonts/icomoon.eot?9svg5m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9svg5m') format('truetype'),
    url('fonts/icomoon.woff?9svg5m') format('woff'),
    url('fonts/icomoon.svg?9svg5m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-graphics:before {
  content: "\e900";
}

.icon-Images:before,
.icon-images:before,
.icon-background:before {
  content: "\e901";
}

.icon-icons:before,
.icon-icon:before {
  content: "\e902";
}

.icon-templates:before {
  content: "\e905";
}

div#data-container ul {
  margin: 0;
}

div#header img {
  max-width: 170px;
}

div#data-container ul.column-2 li {
  border: none;
}

div#data-container ul.column-2 li span img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

div#creat-account {
  margin-bottom: 50px;
}

.search .input-group {
  background: #FEFEFE;
  border-color: #D8DCE3;
}

.search {
  padding: 0px 10px;
}

.mb-3 {
  margin-bottom: 10px !important;
}


ul#myTab span.icon img {
  width: 17px;
}

ul#myTab span.icon {
  height: 17px;
  margin: 6px auto;
}

ul#myTab .term-link {
  padding: 12px 5px 0;
}

.term-link {
  font-weight: 500px !important;
}

ul#myTab span.name {
  font-weight: 400;
  color: #ffffffe3;
}

.fa-search:before {
  color: #BDC5CF;
}

input#TextSearch::placeholder {
  color: #BDC5CF;
}

.dropdown-menu.acive {
  top: 61px;
  box-shadow: 0 21px 67px #00000059;
}

.dropdown-menu.acive {
  top: 61px;
  box-shadow: 0 21px 67px #00000059;
}


.paginationjs .paginationjs-pages li a {
  background: #1e6dfb !important;
  color: white;
  box-shadow: none !important;
  line-height: 38px !important;
  height: 38px !important;
}

li.paginationjs-next a:after {
  color: white;
  font-size: 15px;

}

li.paginationjs-next a:after {
  content: "See More Items" !important;
}

.paginationjs .paginationjs-pages li {
  width: 90% !important;
  min-width: 150px !important;
  max-width: 350px !important;
}

.search .back-link {
  background: #FEFEFE;
}

.search .input-group {
  box-shadow: inset 0 0 3px #29294d14;
}

ul#myTab .dropdown {
  margin-top: 0px !important;
  margin-right: 15px;
}

div#data-container ul {
  margin: 0;
}

div#header img {
  max-width: 208px;
}

div#data-container ul.column-2 li span img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}



.button-login #SignIn {
  width: 70%;
}

h3.greeting::after {
  content: url(Images/Emoji.png);
  position: relative;
  left: 6px;
  top: 2px;
  width: 100%;
  height: auto;



}

label#forgot-password {
  text-align: center;
  align-items: center;

}

p.sub-ac {
  padding-right: 5px;
  font-family: 'Roboto'sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 21px;
  letter-spacing: 0.04px;
  color: #3F4A59 !important;
  margin-left: -17px;

}

a.sign-up-link {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  text-decoration: underline;
  font-family: 'Roboto'sans-serif;
  line-height: 21px;

}

div#header img {
  max-width: 170px;
}

#CreateAccount {
  margin-top: 10px;
}

div#UserLogin {
  background-color: #FFFFFF;
}

ul.socialMedia {
  padding: 7px;
}

ul.socialMedia li a {
  font-size: 22px;
}

div#data-container ul.column-4 li {
  box-shadow: none;
  border: 1px solid #BEC6D2;
  align-items: center;
  text-align: center;
  width: auto;
  height: 74px;
  border-radius: 4px;
  box-sizing: border-box;
}

div#data-container ul.column-4 li:hover,
div#data-container ul.column-icons li:hover {
  opacity: .9;
  background-color: #ebecec;
}

html,
body {
  background: #fff;
}

div#data-container ul li {
  background-color: #fff;
}

/* icon colors ligh mode*/
ul#myTab span.icon {
  font-size:18px;
}

ul#myTab .active .icon-templates {
  color:#7209B7!important;

}
ul#myTab .icon-templates {
  color:#BEC6D2;
}
ul#myTab .active .icon-graphics {
  color: #0ACB99!important;

}
ul#myTab .icon-graphics {
  color:#BEC6D2;
}
 ul#myTab .active .icon-Images,
 ul#myTab .active .icon-images,
 ul#myTab .active .icon-background {
  color:#EE4266!important;
 }
 ul#myTab  .icon-Images,
 ul#myTab  .icon-images,
 ul#myTab  .icon-background {
  color:#BEC6D2;

 }

ul#myTab .active .icon-icons,
ul#myTab .active .icon-icon {
  color: #4361EE!important
}
ul#myTab .icon-icons{
  color:#BEC6D2;

}
/* CREAT AN ACCOUNT PAGE*/
h2.creat-headline {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #282F39;
}


h2.creat-headline::after {
  content: url(Images/heart.png);
  position: relative;
  left: 6px;
  top: 2px;
  width: 100%;
  height: auto;
}

p.creat-subline {
  padding-right: 5px;
  font-family: 'Roboto', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 21px;
  letter-spacing: 0.04px;
  color: #3F4A59 !important;
  margin-left: -17px;
  display: contents;
}

#ButtonSingUp {
  background: #1E6DFB;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04px;
  color: #F4F7FD;
  white-space: nowrap;
  margin-left: auto;
  width: 100%;

}

div#signUp {
  max-width: 315px;
  margin: 25px auto;
}

div#creat-account {
  margin-bottom: 53px;
}

#ButtonSingUp {
  height: 45px;
  line-height: 36px;
}

/* thank you page styling */
img#RedIcon {
  margin: 20px;
}

h2.headline-ty {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #282F39;
}

p.ty-subline {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04px;
  color: #403C4E;

}

div#ThankYou {
  width: 300px;
  margin: auto;
}

#ThankYOUButton {
  margin-top: 4.5rem;
  background: #1E6DFB;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04px;
  color: #FFFFFF;
  width: 100%;
}

ul#myTab {
  background: #F9F9F9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

ul#myTab span.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #282F39;
}

a.term-link.active {
  background: none;
}

a.term-link:hover {
  background: none;
}

ul#myTab .term-link.active:after {
  content: "";
  background: #1E6DFB;
  width: 50%;
  position: relative;
  height: 4px;
  left: auto;
  bottom: auto;
  border-radius: 10px;
}

ul#myTab .term-link:after {
  content: "";
  height: 4px;
  width: 50%;
  display: inline-block;
  position: relative;
  margin-top: 8px;
}

.dark-mode ul#myTab span.icon {
  color: #FFFFFF;
  font-size: 18px;
}

.dark-mode ul#myTab span.name {
  color: rgba(255, 255, 255, 0.7);
}

ul#myTab .term-link {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

ul#myTab li:nth-child(2) a.active::after {
  background: #7209B7;
}

ul#myTab li:nth-child(3) a.active::after {
  background: #0ACB99;
}


ul#myTab li:nth-child(4) a.active::after {
  background: #4361EE;
}


ul#myTab li:nth-child(5) a.active::after {
  background: #EE4266;
}

/* Dark Mode Styles */

.dark-mode {
  background-color: #121212;
}

.dark-mode div#UserLogin {
  background: #121212;
}

.dark-mode div#descrtion h2,
div#login h2 {
  color: #FFFFFF;
  opacity: 0.95;
}

.dark-mode div#descrtion p,
div#login p {
  color: #FFFFFF;
  opacity: 0.65;
}

.dark-mode .button-login #SignIn {
  background: #78A7FD;
  color: #000000;
}

.dark-mode #header span {
  color: #FFFFFF;
  opacity: 0.65;
}

.dark-mode h3.greeting {
  color: #FFFFFF;
  opacity: 0.95;
}

.dark-mode p.sub-ac {
  color: #FFFFFF !important;
  opacity: 0.95;

}

.dark-mode a.sign-up-link {
  color: #78A7FD;

}

.dark-mode div#login .form-control,
div#signUp .form-control {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), #121212 !important;
  border: 1px solid #363636;

}

.dark-mode i.fa.fa-eye-slash {
  color: #FFFFFF;
  opacity: .5;
}

.dark-mode #showPassword {
  right: 5px;

}

.dark-mode label#forgot-password a {
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.dark-mode h2.creat-headline {
  color: #FFFFFF;
  opacity: 0.95;
}

.dark-mode p.creat-subline {
  color: #FFFFFF !important;
  opacity: 0.65 !important;
}

.dark-mode div#signUp .form-control {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), #121212 !important;
  border: 1px solid #363636;
}

.dark-mode #ButtonSingUp {
  background: #78A7FD;
  border: none;
  color: #000000;
}

.dark-mode a#ButtonLogin:not(:disabled) {
  background: #78A7FD;
  color: #000000;

}

.dark-mode .form-control {
  color: #ffffff !important;
}

.dark-mode h2.headline-ty {
  color: #FFFFFF;
  opacity: 0.95;

}

.dark-mode p.ty-subline {
  color: #FFFFFF;
  opacity: 0.65;
}

.dark-mode #ThankYOUButton {
  background: #78A7FD;
  border: none;
  color: #000000;
}

.dark-mode ul#myTab {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18)), #121212;
  box-shadow: 0px 1px 1px #545454;
}

.dark-mode ul#myTab li:nth-child(2) a.active::after {
  border: 2px solid #B884DB;

}

.dark-mode ul#myTab li:nth-child(3) a.active::after {
  border: 2px solid #7BF8D8;
}

.dark-mode ul#myTab li:nth-child(4) a.active::after {
  border: 2px solid #B4C0F8;
}

.dark-mode ul#myTab li:nth-child(5) a.active::after {
  border: 2px solid #F69AAD;
}

.dark-mode div#mainArea {
  background: #121212;
}

.dark-mode .search .input-group {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #121212;
  border: 1px solid #393939;
  box-shadow: inset 0px 0px 3px rgba(41, 41, 77, 0.15);
  border-radius: 8px;
}

.dark-mode .modal-content {
  background: #3D3D3D;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.dark-mode #exampleModal h5#exampleModalLabel {
  color: #FFFFFF;
  opacity: 0.95;
}

.dark-mode #exampleModal .modal-body .view {
  border: 1px solid #393939;
  border-radius: 4px;

}

.dark-mode .author {
  border: 1px solid #393939;
  border-radius: 4px;

}

.dark-mode #exampleModal .tags {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #3F3F3F;
  border: 1px solid #393939;
  border-radius: 4px;
}

.dark-mode #exampleModal .tags h4 {
  color: #FFFFFF;
  opacity: 0.95;
}

.dark-mode #exampleModal .modal-footer .clickToInsert {
  background: #78A7FD;
  border-radius: 4px;
  color: #000000;

}

.dark-mode button.close {
  color: #78A7FD;
}

.dark-mode .help-center {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #121212;
  border: 1px solid #393939;
  box-sizing: border-box;
  border-radius: 4px;

}

.dark-mode .help-center a {
  background: #78A7FD;
  box-shadow: 0px 1px 2px rgba(41, 41, 77, 0.32);
  border-radius: 4px;
  color: #000000;
}

.dark-mode .help-center span {
  color: #FFFFFF;
  opacity: 0.95;
}




.dark-mode ul#myTab .active .icon-templates {
  color: #b884db !important;
  opacity: 1 !important;
}

.dark-mode ul#myTab .active .icon-graphics {
  color: #7BF8D8 !important;
  opacity: 1 !important;
}

.dark-mode ul#myTab .active .icon-Images,
.dark-mode ul#myTab .active .icon-images,
.dark-mode ul#myTab .active .icon-background {
  color: #F69AAD !important;
  opacity: 1 !important;
}

.dark-mode ul#myTab .active .icon-icons,
.dark-mode ul#myTab .active .icon-icon {
  color: #B4C0F8 !important;
  opacity: 1 !important;
}
.dark-mode .dropdown-menu.acive {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18)), #121212;
  color:#ffffff;
}

.dark-mode ul.socialMedia{
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #3D3D3D;

}



