div#data-container ul {
  margin: 0;
}

div#header img {
  max-width: 170px;
}
div#header {
  margi-bottom:50px;
}

div#data-container ul.column-2 li {
  border: none;
}

div#data-container ul.column-2 li span img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

div#creat-account {
  margin-bottom:50px;
}
.search .input-group {
  background: #FEFEFE;
  border-color: #D8DCE3;
}

.search {
  padding: 0px 10px;
}

.mb-3 {
  margin-bottom: 10px !important;
}


ul#myTab span.icon img {
  width: 17px;
}

ul#myTab span.icon {
  height: 17px;
  margin: 6px auto;
}

ul#myTab .term-link {
  padding: 12px 5px 14px;
}

.term-link {
  font-weight: 500px !important;
}

ul#myTab span.name {
  font-weight: 400;
  color: #ffffffe3;
}

.fa-search:before {
  color: #BDC5CF;
}

input#TextSearch::placeholder {
  color: #BDC5CF;
}

.dropdown-menu.acive {
  top: 61px;
  box-shadow: 0 21px 67px #00000059;
}

.dropdown-menu.acive {
  top: 61px;
  box-shadow: 0 21px 67px #00000059;
}


.paginationjs .paginationjs-pages li a {
  background: #1e6dfb !important;
  color: white;
  box-shadow: none !important;
  line-height: 38px !important;
  height: 38px !important;
}

li.paginationjs-next a:after {
  color: white;
  font-size: 15px;

}

li.paginationjs-next a:after {
  content: "See More Items" !important;
}

.paginationjs .paginationjs-pages li {
  width: 90% !important;
  min-width: 150px !important;
  max-width: 350px !important;
}

.search .back-link {
  background: #FEFEFE;
}

.search .input-group {
  box-shadow: inset 0 0 3px #29294d14;
}

ul#myTab .dropdown {
  margin-top: 0px !important;
  margin-right: 15px;
}

div#data-container ul {
  margin: 0;
}

div#header img {
  max-width: 208px;
}

div#data-container ul.column-2 li span img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}



.button-login #SignIn {
  width: 70%;
}

h3.greeting::after {
  content: url(Images/Emoji.png);
  position: relative;
  left: 6px;
  top: 2px;
  width: 100%;
  height: auto;



}

label#forgot-password {
  text-align: center;
  align-items: center;

}

p.sub-ac {
  padding-right: 5px;
  font-family: 'Roboto'sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 21px;
  letter-spacing: 0.04px;
  color: #3F4A59 !important;
  margin-left: -17px;

}

a.sign-up-link {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  text-decoration: underline;
  font-family: 'Roboto'sans-serif;
  line-height: 21px;

}

div#header img {
  max-width: 170px;
}

#CreateAccount {
  margin-top: 10px;
}

div#UserLogin {
  background-color: #FFFFFF;
}

ul.socialMedia {
  padding: 7px;
}

ul.socialMedia li a {
  font-size: 22px;
}

div#data-container ul.column-4 li {
  box-shadow: none;
  border: 1px solid #BEC6D2;
  align-items: center;
  text-align: center;
  width: auto;
  height: 74px;
  border-radius: 4px;
  box-sizing: border-box;
}

div#data-container ul.column-4 li:hover,
div#data-container ul.column-icons li:hover {
  opacity: .9;
  background-color: #ebecec;
}

html,
body {
  background: #F9F9F9;
}

div#data-container ul li {
  background-color: #fff;
}

/* CREAT AN ACCOUNT PAGE*/
h2.creat-headline {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #282F39;
}


h2.creat-headline::after {
  content: url(Images/heart.png);
  position: relative;
  left: 6px;
  top: 2px;
  width: 100%;
  height: auto;
}

p.creat-subline {
  padding-right: 5px;
  font-family: 'Roboto', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 21px;
  letter-spacing: 0.04px;
  color: #3F4A59 !important;
  margin-left: -17px;
  display: contents;
}

#ButtonSingUp {
  background: #1E6DFB;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04px;
  color: #F4F7FD;
  white-space: nowrap;
  margin-left: auto;
  width: 100%;

}
div#signUp {
  max-width: 315px;
  margin: 25px auto;
}
div#creat-account {
  margin-bottom: 53px;
}
#ButtonSingUp {
  height: 45px;
  line-height: 36px;
}

/* thank you page styling */
img#RedIcon {
  margin: 20px;
}

h2.headline-ty {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #282F39;
}

p.ty-subline {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04px;
  color: #403C4E;

}

div#ThankYou {
  width: 300px;
  margin: auto;
}

#ThankYOUButton {
  margin-top: 4.5rem;
  background: #1E6DFB;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04px;
  color: #FFFFFF;
  width: 100%;
}
